# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.cwproj text eol=crlf
*.clw text eol=crlf
*.inc text eol=crlf
*.[Ii][Nn][Cc] text eol=crlf
*.trn text eol=crlf
*.exp text eol=crlf
*.[Ii][Nn][Ii] text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.bmp binary
*.[Bb][Mm][Pp] binary
*.ico binary
*.[Ii][Cc][Oo] binary
